<?xml version="1.0"?>
<model>
  <name>goetz_sofa</name>
  <version>0.1.0</version>
  <author>
   <name>Bence Magyar</name>
   <email>bence.magyar@pal-robotics.com</email>
  </author>
  <sdf>goetz_sofa.sdf</sdf>
  <description>
    Goetz Sofa downloaded from google 3d warehouse.
  </description>
</model>
