<?xml version="1.0"?>
<model>
  <name>bed double</name>
  <version>0.1.0</version>
  <author>
   <name>Enrique Fernández</name>
   <email>enrique.fernandez@pal-robotics.com</email>
  </author>
  <sdf>bed_double.sdf</sdf>
  <description>
    double bed
    based on RAIL collada models
  </description>
</model>


