<?xml version="1.0"?>
<model>
  <name>aruco_marker_250_6x6_2</name>
  <version>1.0</version>
  <description>
    Aruco marker from the 6x6_250 dictionary 
  </description>
  <author>
    <name>Jordi Pages</name>
    <email>jordi.pages@pal-robotics.com</email>
  </author>
  <sdf version='1.3'>aruco_marker_250_6x6.sdf</sdf>
</model>


