<?xml version="1.0"?>
<model>
  <name>dining_table</name>
  <version>0.1.0</version>
  <author>
   <name>Enrique Fernández</name>
   <email>enrique.fernandez@pal-robotics.com</email>
  </author>
  <sdf>dining_table.sdf</sdf>
  <description>
    dining_table
    based on RAIL collada models
  </description>
</model>


