<?xml version="1.0"?>
<model>
  <name>cylinder_yellow</name>
  <version>1.0</version>
  <description>
    A simple yellow cylinder
  </description>
  <author>
   <name>David ter Kuile</name>
   <email>david.terkuile@pal-robotics.com</email>
  </author>
  <sdf version='1.4'>cylinder_yellow.sdf</sdf>
</model>


