<?xml version="1.0"?>
<model>
  <name>ikea stool</name>
  <version>0.1.0</version>
  <author>
   <name>Enrique Fernández</name>
   <email>enrique.fernandez@pal-robotics.com</email>
  </author>
  <sdf>ikea_stool.sdf</sdf>
  <description>
    ikea stool
    based on RAIL collada models
  </description>
</model>


