<?xml version="1.0"?>
<model>
  <name>small_cylinder</name>
  <version>1.0</version>
  <description>
    Small cylinder r = 35mm, h = 200mm
  </description>
  <author>
    <name>Noel Jimenez</name>
    <email>noel.jimenez@pal-robotics.com</email>
  </author>
  <sdf version='1.6'>small_cylinder.sdf</sdf>
</model>
