<?xml version="1.0"?>
<model>
 <name>ikea_ektorp_chair</name>
 <version>0.1.0</version>
 <author>
  <name>Bence Magyar</name>
  <email>bence.magyar@pal-robotics.com</email>
 </author>
 <sdf version='1.4'>model.sdf</sdf>
 <description>
    Ikea ektorp chair downloaded from polantis.com
 </description>
</model>
