<?xml version="1.0"?>

<model>
  <name>Ideal Sun</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>Victor Lopez</name>
    <email>victor.lopez2pal-robotics.com</email>
  </author>

  <description>
    A directional light for the sun. No shadows and no light perpendicular to the ground
  </description>
</model>
