<?xml version="1.0"?>
<model>
  <name>lazy chair</name>
  <version>0.1.0</version>
  <author>
   <name>Enrique Fernández</name>
   <email>enrique.fernandez@pal-robotics.com</email>
  </author>
  <sdf>lazy_chair.sdf</sdf>
  <description>
    lazy chair
    based on RAIL collada models
  </description>
</model>


