<?xml version="1.0"?>
<model>
  <name>aruco_marker_12cm_150</name>
  <version>1.0</version>
  <description>
    Aruco marker from the 12cm dictionary 
  </description>
  <author>
    <name>Jordi Pages</name>
    <email>jordi.pages@pal-robotics.com</email>
  </author>
  <sdf version='1.4'>aruco_marker_12cm.sdf</sdf>
</model>


