<?xml version="1.0"?>
<model>
  <name>door_obstacle</name>
  <version>1.0</version>
  <description>
    Door obstacle of W x L x H =  0.015 x 1 x 0.05 [m]
  </description>
  <author>
    <name>Enrique Fernández</name>
    <email>enrique.fernandez@pal-robotics.com</email>
  </author>
  <sdf version='1.4'>door_obstacle.sdf</sdf>
</model>

