<?xml version="1.0"?>
<model>
  <name>cylinder_green</name>
  <version>1.0</version>
  <description>
    A simple green cylinder
  </description>
  <author>
    <name>Bence Magyar</name>
    <email>bence.magyar@pal-robotics.com</email>
  </author>
  <sdf version='1.3'>cylinder_green.sdf</sdf>
</model>


