<?xml version="1.0"?>
<model>
 <name>ikea_stefan_chair</name>
 <version>0.1.0</version>
 <author>
  <name>Bence Magyar</name>
  <email>bence.magyar@pal-robotics.com</email>
 </author>
 <sdf>model.sdf</sdf>
 <description>
    Ikea stefan chair downloaded from google 3d warehouse.
    http://www.ikea.com/us/en/catalog/products/00211088/
 </description>
</model>

