<?xml version="1.0"?>
<model>
  <name>tv set</name>
  <version>0.1.0</version>
  <author>
   <name>Enrique Fernández</name>
   <email>enrique.fernandez@pal-robotics.com</email>
  </author>
  <sdf>tv_set.sdf</sdf>
  <description>
    tv set
    based on RAIL collada models
  </description>
</model>


