<?xml version="1.0"?>
<model>
  <name>reemc_textured_object_nograv</name>
  <version>0.1.0</version>
  <author>
   <name>Bence Magyar</name>
   <email>bence.magyar@pal-robotics.com</email>
  </author>
  <sdf>model.sdf</sdf>
  <description>
    REEM-C textured and graspable object but without gravity
  </description>
</model>


