<?xml version="1.0"?>

<model>
  <name>Bauman</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Enrique Fernandez</name>
    <email>enrique.fernandez@pal-robotics.com</email>
  </author>

  <description>
    A 3D model of the walls of the Bauman University area
    to test the REEM-C.
  </description>
</model>
