<?xml version="1.0" ?>
<database>
  <name>REEMC database</name>
  <license>Creative Commons Attribution 3.0 Unported</license>
  <models>
    <uri>file://reemc_walls</uri>
    <uri>file://reemc_table</uri>
    <uri>file://reemc_bookshelf</uri>
    <uri>file://reemc_cabinet</uri>
  </models>
</database>

