<?xml version="1.0"?>
<model>
  <name>clothes stand</name>
  <version>0.1.0</version>
  <author>
   <name>Enrique Fernández</name>
   <email>enrique.fernandez@pal-robotics.com</email>
  </author>
  <sdf>clothes_stand.sdf</sdf>
  <description>
    clothes stand
    based on RAIL collada models
  </description>
</model>


